{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
    
</head>
<body>
    <h1>Vijjullu</h1>
    <img src="{% static 'images/kanna.jpg' %}" alt="">
    <h1>Nature</h1>
    <img src="{% static 'images/image-attractive.jpg' %}" alt="" srcset="">
</body>
</html>